<div class="container find-solution section-margin">
    <div class="row">
        <div class="col-md-6 d-flex find-solution-text"style="flex-direction:column; justify-content:center;  row-gap:25px;">
            <h2 class="title">We are here to provide your business solution</h2>
            <p class="sub-sub-title">Our experts are ready to take challange to provide you the best solution.   </p>
            <a class="btn solution-button" asp-controller="Home" asp-action="Appoinment"> Get Solution </a>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/img/welcome.png" />
        </div>
    </div>
</div>
