<div class="alert @TempData["FlashMessageClass"] alert-dismissible fade show" style="margin:25px 0px;" role="alert">
    <strong><i style="font-size:28px;" class="fa-solid fa-check"></i> @TempData["FlashMessage"]</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
