<div class="workprocess container section-margin">
    <div class="row">
        <h2 class=" title text-center">Our Work Process</h2>
         <div class=" text-center" style="margin:50px 0px">
            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ulac laboris aliquip ex ea commodo consequat duis aute irure.dolor in repre henderit in voluptate velit esse cillum dolore.Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis.</p>
         </div>
         <div class="work-state" >
            
            <ul class="nav nav-pills mb-3" id="pills-tab d-flex" style="align-items: center; justify-content: center; column-gap:30px;" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-tab1" data-bs-toggle="pill" data-bs-target="#pills-content-1" type="button" role="tab" aria-controls="pills-content-1" aria-selected="true">
                        <div class="d-flex" style="flex-direction:column; justify-content:center;">
                                <img style="height:60px; width:60px; border-radius: 50%; padding:2px;" src="~/img/search.png" />
                           
                            <p>Explore</p>
                        </div>
                    </button>
                   
                </li>
                <li id="pills-tab1-next-icon" class="d-block"> <img class="next-icon-image" src="~/img/next-icon.svg" /></li>
                <li class="nav-item " role="presentation">
                    <button class="nav-link" id="pills-tab2" data-bs-toggle="pill" data-bs-target="#pills-content-2" type="button" role="tab" aria-controls="pills-content-2" aria-selected="false">
                        <div class="d-flex" style="flex-direction:column; justify-content:center;">
                            <img style="height:60px; width:60px; border-radius: 50%; padding:2px;" src="~/img/planning.png" />
                            <p>Planning</p>
                        </div>
                    </button>
                </li>
                <li id="pills-tab2-next-icon" class="d-none"> <img class="next-icon-image" src="~/img/next-icon.svg" /></li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tab3" data-bs-toggle="pill" data-bs-target="#pills-content-3" type="button" role="tab" aria-controls="pills-content-4" aria-selected="false">
                        <div class="d-flex" style="flex-direction:column; justify-content:center;">
                            <img style="height:60px; width:60px; border-radius: 50%; padding:2px;" src="~/img/execute.jpg" />
                            <p>Execute</p>
                        </div>
                    </button>
                </li>
                <li id="pills-tab3-next-icon" class="d-none"> <img class="next-icon-image" src="~/img/next-icon.svg" /></li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tab4" data-bs-toggle="pill" data-bs-target="#pills-content-4" type="button" role="tab" aria-controls="pills-content-4" aria-selected="false">
                        <div class="d-flex" style="flex-direction:column; justify-content:center;">
                            <img style="height:60px; width:60px; border-radius: 50%; padding:2px;" src="~/img/delivery.jpg" />
                            <p>Delivary</p>
                        </div>
                    </button>
                </li>
            </ul>
            <div class="tab-content" style="margin-top:50px" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-content-1" role="tabpanel" aria-labelledby="pills-tab1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <img class="img-fluid"  src="~/img/explore-image.svg"/>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex" style="flex-direction:column; justify-content:center; row-gap:20px;">
                                <h2 class="title">Explore</h2>
                                <p>Before we start developing your app, we like to do our fair share of research and planning so that we can deliver the best solution that resonates with the message that your brand communicates. We believe, with proper analysis we can gather knowledge about the competitive landscape and provide accurate technical specs with room for zero error or miscommunication.</p>
                                <button id="pills-next-tab-1" class="btn next-link" style="width:150px; padding:0px; text-align: initial;"> next step <img src="~/img/next-icon.svg" /></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-content-2" role="tabpanel" aria-labelledby="pills-tab2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <img class="img-fluid" src="~/img/explore-image.svg" />
                                </div>
                            </div>
                            <div class="col-md-6 d-flex" style="flex-direction:column; justify-content:center; row-gap:20px;">
                                <h2 class="title">Planning</h2>
                                <p>Before we start developing your app, we like to do our fair share of research and planning so that we can deliver the best solution that resonates with the message that your brand communicates. We believe, with proper analysis we can gather knowledge about the competitive landscape and provide accurate technical specs with room for zero error or miscommunication.</p>
                                <button id="pills-next-tab-2" class="btn next-link" style="width:150px; paddig:0px; text-align: initial;"> next step <img src="~/img/next-icon.svg" /></button>
                            </div>
                        </div>
                    </div>
                </div>
             

                <div class="tab-pane fade" id="pills-content-3" role="tabpanel" aria-labelledby="pills-tab3">
                     <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <img class="img-fluid"  src="~/img/explore-image.svg"/>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex" style="flex-direction:column; justify-content:center; row-gap:20px;">
                                <h2 class="title">Execute</h2>
                                <p>Before we start developing your app, we like to do our fair share of research and planning so that we can deliver the best solution that resonates with the message that your brand communicates. We believe, with proper analysis we can gather knowledge about the competitive landscape and provide accurate technical specs with room for zero error or miscommunication.</p>
                                <button id="pills-next-tab-3" class="btn next-link" style="width:150px; paddig:0px; text-align: initial;"> next step <img src="~/img/next-icon.svg" /></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-content-4" role="tabpanel" aria-labelledby="pills-tab4">
                     <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <img class="img-fluid"  src="~/img/explore-image.svg"/>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex" style="flex-direction:column; justify-content:center; row-gap:20px;">
                                <h2 class="title">Delivery</h2>
                                <p>Before we start developing your app, we like to do our fair share of research and planning so that we can deliver the best solution that resonates with the message that your brand communicates. We believe, with proper analysis we can gather knowledge about the competitive landscape and provide accurate technical specs with room for zero error or miscommunication.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
