@model ProjectCreateViewModel
@{
    ViewData["Title"] = "Create A New Project";
}

<h1 class="text-align-center">@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
<form method="post" enctype="multipart/form-data" asp-controller="Project" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProjectUrl"></label>
        <input class="form-control" asp-for="ProjectUrl" />
        <span asp-validation-for="ProjectUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientName"></label>
        <input class="form-control" asp-for="ClientName" />
        <span asp-validation-for="ClientName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientUrl"></label>
        <input class="form-control" asp-for="ClientUrl" />
        <span asp-validation-for="ClientUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input class="form-control" asp-for="CategoryName" />
        <span asp-validation-for="CategoryName"></span>

    </div>
    <div class="form-group">
        <label asp-for="BackgroundColor">Background ColorIn Hex</label>
        <input class="form-control" asp-for="BackgroundColor" /> 
        <span asp-validation-for="BackgroundColor"></span>

    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"> </textarea>
        <span asp-validation-for="Description"></span>

    </div>
    <div class="form-group">
        <label asp-for="Status">Work Status</label>
        <input class="form-control" asp-for="Status" />
        <span asp-validation-for="Status"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive">Shown or Not Shown</label>
        <select class="form-control" asp-for="IsActive">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">InActive</option>
            <span asp-validation-for="IsActive"></span>
        </select>
   </div>
    <div class="form-group">

        <label asp-for="DisplayOrder"></label>
        <input class="form-control" asp-for="DisplayOrder" />
        <span asp-validation-for="DisplayOrder"></span> 
   </div>
    <div class="form-group">

        <label asp-for="PublishedDate"></label>
        <input class="form-control" asp-for="PublishedDate" />
        <span asp-validation-for="PublishedDate"></span>
    </div>
    <div class="form-group">

        <label asp-for="ToolIds">Tools</label>
        <select multiple class="form-control js-example-basic-multiple"  asp-for="ToolIds">
            @{
                if (ViewData["tools"] != null)
                {
                    foreach (Tool item in ViewData["tools"] as List<Tool>)
                    {
                        <option value="@item.ToolId">@item.Name</option>
                    }
               }
            }

            <span asp-validation-for="ToolIds"></span>
       </select>
    </div>
    <div class="form-group">

        <label asp-for="Image"></label>
        <input class="form-control" asp-for="Image"  />
        <span asp-validation-for="Image"></span>
    </div>
    <button class="btn btn-info float-right" type="submit">Create</button>
</form>
@section scripts
    {
    @{
        <script src="~/js/select2.min.js"></script>
            <partial name="_ValidationScriptsPartial"></partial>
            <script>
            $(document).ready(function () {
                $('.js-example-basic-multiple').select2();
            });
            </script>
    }
    }