@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}


        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <form class="user" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Login">
                                        <div class="form-group">
                                            <label asp-for="UserEmail"></label>
                                            <input type="email" class="form-control form-control-user" asp-for="UserEmail" id="exampleInputEmail"
                                                   placeholder="Email Address">
                                            <span asp-validation-for="UserEmail"></span>
                                        </div>
                                        <div class="form-group">
                                                <label asp-for="Password"></label>
                                                <input type="password" class="form-control form-control-user"
                                                       id="exampleInputPassword" asp-for="Password">
                                                <span asp-validation-for="Password"></span>
                                   
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe" id="customCheck">
                                                <label class="custom-control-label" asp-for="RememberMe" for="customCheck">
                                                   
                                                </label>
                                        <span asp-validation-for="RememberMe"></span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


@section scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }