@{
    ViewData["Title"] = "Protfolio";
}
<section class="banner-section"></section>
<partial name="/Views/Component/Projects.cshtml"></partial>
<partial name="/Views/Component/FindSolution.cshtml"></partial>